* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    background-color: pink;
    height: auto;
    padding: 5px 0 0 5px;

}

.clear::after {
    content: '';
    clear: both;
    display: block;
}

/*Generalizing all inside blocks*/
.item {
    float: left;
    display: block;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 60px;
}

/*Red blocks, upper ones*/
.red {
    width: 32.3333%;
    background-color: red;
}

/*Orange blocks*/
.orange {
    width: 49%;
    background-color: orange;
}

/*Yellow blocks*/
.yellow {
    width: 24%;
    background-color: yellow;
}

/*Pink blocks*/
.green {
    width: 99%;
    background-color: green;
}

/*Blue blocks*/
.blue {
    background-color: blue;
}

.b-1 {
    width: 32.6666%;
}

.b-2 {
    width: 65.3333%;
}

/*Max-width:1000px*/
@media (max-width: 1000px) {
    .container {
        max-width: 850px;
    }

    .yellow {
        width: 49%;
    }
}

/*Max-width:600px*/
@media (max-width: 600px) {
    .item {
        width: 99%;
    }
}
