* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1200px;
    background-color: pink;
    padding: 5px;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}

.item {
    height: 100px;
    border: 3px solid pink;
}

/*Red blocks*/
.red {
    background-color: red;
}

/*Orange blocks*/
.orange {
    background-color: orange;
}

/*Yellow blocks*/
.yellow {
    background-color: yellow;
}

/*Pink blocks*/
.green {
    background-color: green;
}

/*Blue blocks*/
.blue {
    background-color: blue;
}

/*Classes to set a width*/
.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.3333%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

[class*="w-"] {
    float: left;
}

/*Max-width:1000px*/

@media (max-width: 1000px) {
    .container {
        max-width: 850px;
    }

    .w-25 {
        width: 50%;
    }
}

/*Max-width:600px*/
@media (max-width: 600px) {
    [class*="w-"] {
        width: 100%;
    }
}
